<h3 class="sr-only">Barra lateral da página</h3>
<section class="asideBox">
  <h4 class="asideBox__title">Categorias</h4>
  <span class="lineCover-separator to-lft"></span>
  <ul class="list-group">
    <% current_page.data.categories.each do |f| %>
    <li class="list-group-item">
      <a href="./article.html"><%= f %></a>
    </li>
    <% end %>
  </ul>
</section>
<section class="asideBox">
  <h4 class="asideBox__title">Arquivo</h4>
  <span class="lineCover-separator to-lft"></span>
  <ul class="list-group">
    <li class="list-group-item">
      <a data-toggle="collapse" data-role="button" aria-expanded="false" aria-controls="collapse-year-2017" href="#collapse-year-2017">2017</a>
      <div id="collapse-year-2017" class="collapse listGroup">
        <% current_page.data.months.each do |f| %>
          <a href="#"><%= f %></a>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <a data-toggle="collapse" data-role="button" aria-expanded="false" aria-controls="collapse-year-2016" href="#collapse-year-2016">2016</a>
      <div id="collapse-year-2016" class="collapse listGroup">
        <% current_page.data.months.each do |f| %>
          <a href="#"><%= f %></a>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <a data-toggle="collapse" data-role="button" aria-expanded="false" aria-controls="collapse-year-2015" href="#collapse-year-2015">2015</a>
      <div id="collapse-year-2015" class="collapse listGroup">
        <% current_page.data.months.each do |f| %>
          <a href="#"><%= f %></a>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <a data-toggle="collapse" data-role="button" aria-expanded="false" aria-controls="collapse-year-2014" href="#collapse-year-2014">2014</a>
      <div id="collapse-year-2014" class="collapse listGroup">
        <% current_page.data.months.each do |f| %>
          <a href="#"><%= f %></a>
        <% end %>
      </div>
    </li>
  </ul>
</section>
