<!-- Navbar -->
<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
  <h2 class="sr-only">Menu principal</h2>
   <div class="container">
      <% link_to "index.html", :relative => true, :class => "navbar-brand", title: "Homepage" do %>
         <%= image_tag "logo.svg", :class => "img-fluid" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
         <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item<%= " active" if current_page.data.title == "Entrerios" %>">
               <%= link_to "Homepage", "index.html", :relative => true, title: "Homepage", class: "nav-link" %>
               <% if current_page.data.title == "Entrerios" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
            <li class="nav-item<%= " active" if current_page.data.title == "Sobre Nós" %>">
               <%= link_to "Sobre Nós", "about.html", :relative => true, title: "Sobre Nós", class: "nav-link" %>
               <% if current_page.data.title == "Sobre Nós" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
            <li class="nav-item dropdown<%= " active" if current_page.data.title == "Conteúdo" %>">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conteúdo
                  <% if current_page.data.title == "Conteúdo" %>
                  <span class="sr-only">(current)</span>
                  <% end %>
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Todos", "content.html", :relative => true, title: "Conteúdo", class: "dropdown-item" %>
                  <%= link_to "Poesia", "filter.html", :relative => true, title: "Poesia", class: "dropdown-item" %>
                  <%= link_to "Cinema", "filter.html", :relative => true, title: "Cinema", class: "dropdown-item" %>
                  <%= link_to "Conto", "filter.html", :relative => true, title: "Conto", class: "dropdown-item" %>
                  <%= link_to "Música", "filter.html", :relative => true, title: "Música", class: "dropdown-item" %>
                  <%= link_to "Crônica", "filter.html", :relative => true, title: "Crônica", class: "dropdown-item" %>
                  <%= link_to "Blablabla", "filter.html", :relative => true, title: "Blablabla", class: "dropdown-item" %>
               </div>
            </li>
            <li class="nav-item<%= " active" if current_page.data.title == "Contato" %>">
               <%= link_to "Contato", "contact.html", :relative => true, title: "Contato", class: "nav-link" %>
               <% if current_page.data.title == "Contato" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control rounded-0" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-secondary rounded-0 my-sm-0" type="submit">
               <%= image_tag "search.svg" %>
            </button>
         </form>
      </div>
   </div>
</nav>
