<!-- Navbar -->
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
   <div class="container d-flex justify-content-md-center">
      <% link_to "index.html", :relative => true, :class => "navbar-brand", title: "Homepage" do %>
      <%= image_tag "logo.svg", :class => "img-fluid" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   </div>
   <div class="container d-flex justify-content-center">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <ul class="navbar-nav mx-auto">
            <li class="nav-item<%= " active" if current_page.data.title == "Homepage" %>">
               <%= link_to "Homepage", "index.html", :relative => true, title: "Homepage", class: "nav-link" %>
               <% if current_page.data.title == "Homepage" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
            <li class="nav-item<%= " active" if current_page.data.title == "Sobre Nós" %>">
               <%= link_to "Sobre Nós", "about.html", :relative => true, title: "Sobre Nós", class: "nav-link" %>
               <% if current_page.data.title == "Sobre Nós" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
            <li class="nav-item dropdown<%= " active" if current_page.data.title == "Conteúdo" %>">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conteúdo
                  <% if current_page.data.title == "Conteúdo" %>
                  <span class="sr-only">(current)</span>
                  <% end %>
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Todas", "content.html", :relative => true, title: "Conteúdo", class: "dropdown-item" %>
                  <a class="dropdown-item" href="#" title="Editoria 1">Editoria 1</a>
                  <a class="dropdown-item" href="#" title="Editoria 2">Editoria 2</a>
                  <a class="dropdown-item" href="#" title="Editoria 3">Editoria 3</a>
                  <a class="dropdown-item" href="#" title="Editoria 4">Editoria 4</a>
                  <a class="dropdown-item" href="#" title="Editoria 5">Editoria 5</a>
                  <a class="dropdown-item" href="#" title="Editoria 6">Editoria 6</a>
               </div>
            </li>
            <li class="nav-item<%= " active" if current_page.data.title == "Contato" %>">
               <%= link_to "Contato", "contact.html", :relative => true, title: "Contato", class: "nav-link" %>
               <% if current_page.data.title == "Contato" %>
               <span class="sr-only">(current)</span>
               <% end %>
            </li>
         </ul>
      </div>
   </div>
</nav>
