---
title: Eu queria ter nascido fã de sertanejo
categories:
   - Poesia
   - Cinema
   - Conto
   - Música
   - Crônica
   - Blablabla
months:
   - Dezembro
   - Novembro
   - Outubro
   - Setembro
   - Agosto
   - Julho
   - Junho
---

<div class="container firstBody">
   <h1 class="display-post"><%= current_page.data.title || "Entrerios" %></h1>
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Homepage", "index.html", :relative => true, title: "Homepage" %></li>
      <li class="breadcrumb-item"><%= link_to "Conteúdo", "content.html", :relative => true, title: "Conteúdo" %></li>
      <li class="breadcrumb-item active">Eu queria ter nascido fã de sertanejo</li>
   </ol>
   <div class="row">
      <div class="col-md-8">
         <%= partial 'partials/post' %>
      </div>
      <aside class="col-md-4">
         <%= partial 'partials/aside' %>
      </aside>
   </div>
</div>
